In [8]:
import pandas as pd
import settings
from utils.dvc import load_datasets
df = load_datasets('syke/alas_emissions')
print(df[0:4])
settings.DVC_PANDAS_REPOSITORY
df = load_datasets('ympäristötilastot/03_ilmanlaatu/2_ympariston_tila/i01_ilmanlaatuindeksi')
df

   kuntanumero kunta   maakunta  vuosi   taso_1        taso_2        taso_3  \
0           20  Akaa  Pirkanmaa   2005  Energia  Kulutussähkö  Kulutussähkö
1           20  Akaa  Pirkanmaa   2005  Energia  Kulutussähkö  Kulutussähkö
2           20  Akaa  Pirkanmaa   2005  Energia  Kulutussähkö  Kulutussähkö
3           20  Akaa  Pirkanmaa   2005  Energia  Kulutussähkö  Kulutussähkö

         taso_4      taso_5  hinku-laskenta  päästökauppa  ktCO2e  \
0  Kulutussähkö    Asuminen            True          True   4.186
1  Kulutussähkö    Palvelut            True          True   3.564
2  Kulutussähkö  Teollisuus           False          True   5.115
3  Kulutussähkö   Maatalous            True          True   0.530

   ktCO2e_tuuli  energiankulutus (GWh)
0         4.194                 24.618
1         3.571                 20.961
2         5.124                 30.080
3         0.531                  3.117

,Mittausasema,Luokka,Muuttuja,Vuosi,Kuukausi,value
0,Töölö,Hyvä,Osuus tunneista (%),1993,Koko vuosi,43.205099
1,Töölö,Tyydyttävä,Osuus tunneista (%),1993,Koko vuosi,42.886410
2,Töölö,Välttävä,Osuus tunneista (%),1993,Koko vuosi,13.862964
3,Töölö,Huono,Osuus tunneista (%),1993,Koko vuosi,0.045527
4,Töölö,Erittäin huono,Osuus tunneista (%),1993,Koko vuosi,0.000000
...,...,...,...,...,...,...
134545,Järvenpää,Hyvä,Tunnit (kpl),2015,joulu,488.000000
134546,Järvenpää,Tyydyttävä,Tunnit (kpl),2015,joulu,106.000000
134547,Järvenpää,Välttävä,Tunnit (kpl),2015,joulu,55.000000
134548,Järvenpää,Huono,Tunnit (kpl),2015,joulu,18.000000
134549,Järvenpää,Erittäin huono,Tunnit (kpl),2015,joulu,0.000000